{% extends "_base.html" %}

<!-- display list of joke in jokes app -->
{% block title %}Jokes{% endblock %}
{% block main %}
  <a class="btn btn-success btn-sm float-end" href="{% url 'jokes:create' %}">
    + New Joke</a>
  <h2>Jokes</h2>

  <div class="table-responsive">
    <table class="table table-striped" style="min-width: 500px">
      <thead>
        <tr>
          <th>Joke</th><th>Category</th><th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for joke in joke_list %}
          <tr>
            <td>
              <a href="{{ joke.get_absolute_url }}">{{ joke.question }}</a>
            </td>
            <td>
              {{ joke.category.category }}<br>
              {% for tag in joke.tags.all %}
                <span class="badge rounded-pill bg-secondary">
                  {{ tag.tag }}
                </span>
              {% endfor %}
            </td>
            <td>
              <a href="{% url 'jokes:update' joke.slug %}">
                <i class="fas fa-pencil-alt"></i>
              </a>
              <a href="{% url 'jokes:delete' joke.slug %}">
                <i class="far fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- display the joke list in table instead of unordered list
       add backslash prefix the curly bracket of django tag to avoid error
  <ul class="list-group list-group-flush mb-3">
    \{% for joke in joke_list %\}
      <li class="list-group-item">
        !--
        <a href="\{% url 'jokes:detail' joke.pk %\}">\{\{ joke.question \}\}</a>
        --
        <a href="{{ joke.get_absolute_url }}">{{ joke.question }}</a>
        !-- change link to joke using primary key joke.pk to joke.slug --
        <a href="\{% url 'jokes:update' joke.slug %\}"
          class="btn btn-info btn-sm float-end me-2">Update</a>
        <a href="\{% url 'jokes:delete' joke.slug %\}"
          class="btn btn-danger btn-sm float-end me-2">Delete</a>
      </li>
    \{% endfor %\}
  </ul>
  -->
{% endblock %}
